.checkbox {
  display: none;
}

.bg-light-toggle {
  background: var(--lightToggle);
}

.light-toggle-text {
  color: var(--lightToggle);
}

.bg-dark-toggle {
  background: var(--darkToggle);
}

.label {
  @apply bg-light-toggle;
  position: relative;
  border-radius: 50px;
  width: 50px;
  height: 24px;
  cursor: pointer;
}

.ball {
  background: var(--white);
  position: absolute;
  top: 2.2px;
  left: 28px;
  border-radius: 50px;
  width: 19px;
  height: 19px;
  transition: transform 0.15s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(-25px);
}

.checkbox:checked + .label {
  background: linear-gradient(120deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
